<!-- Resources used to write this code: -->
<!-- CSS Navigation Bars n.d., Refsnes Data, accessed 31 May 2026, -->
<!-- <https://www.w3schools.com/csS/css_navbar.asp> -->
<!-- -->
<!-- CSS Horizontal Navigation Bar n.d., Refsnes Data, accessed 31 May 2026, -->
<!-- <https://www.w3schools.com/csS/css_navbar_horizontal.asp> -->
<!-- -->
<!-- <nav> HTML navigation section element 2026, MDN contributors, accessed 31 May 2026,-->
<!-- <https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/nav> -->
<!-- -->
<!-- HTML Styles - CSS n.d., Refsnes Data, accessed 31 May 2026, -->
<!-- <https://www.w3schools.com/hTml/html_css.asp> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>A Simple Story</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    </head>
    <body>
        <nav class="menu">
            <div>
                <ul class="nav_links_list">
                    <li class="nav_link"><a href="{{ url_for('home_page') }}">Home</a></li>
                    <li class="nav_link"><a href="{{ url_for('show_table_of_content') }}">Chapters</a></li>
                    <li class="nav_link"><a href="#">About</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>