<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>A Simple Story</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    </head>
    <body>
        <nav class="menu">
            <div>
                <ul class="nav_links_list">
                    <li class="nav_link"><a href="{{ url_for('home_page') }}">Home</a></li>
                    <li class="nav_link"><a href="{{ url_for('show_table_of_content') }}">Chapters</a></li>
                    <li class="nav_link"><a href="#">About</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>